{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "node": false,
    "jasmine": true
  },
  "globals": {
    "crypto": true,
    "Secretin": true
  },
  "rules": {
    "no-throw-literal": 0
  },
  "plugins": [
    "jasmine"
  ]
}
