{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "node": false,
    "mocha": true
  },
  "globals": {
    "require": true,
    "Buffer": true,
    "crypto": true,
    "Secretin": true,
    "SecretinBrowserAdapter": true,
    "__karma__": true,
    "module": true,
    "process": true,
  },
  "rules": {
    "no-throw-literal": 0
  },
  "plugins": [
    "mocha",
    "chai"
  ]
}
